  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  .button {
    background-image: rl("../../assets/images/document.svg.png");;
  }