<div class="main-div">

    <mat-card class="example-card">

      <mat-card-title class="title_center">Connexion</mat-card-title>

    <mat-form-field>
      <mat-label>Choisir un utilisateur</mat-label>
    
    <div>
      
      <mat-select class="mySelect" id="userSelect" name="userSelect" [(ngModel)]="selectedUser" (change)="onUserChange()">
        <mat-option></mat-option>

        @for (option of practitioners; track option) {
          <mat-option [value]="option">{{ option.firstName }}</mat-option>
        }
        <mat-label>Nom patient</mat-label>
        @for (option of patients; track option) {
          <mat-option [value]="option">{{ option.firstName }}</mat-option>
        }
      

      </mat-select>
      
    </div>

    </mat-form-field>
    
    <div>
      <button mat-raised-button class="loginBut" color="primary" (click)="login()">Se connecter</button>
      <style>
        button{
          display: block;
          margin: auto;
        }
      </style>
      </div>
  
    </mat-card>
</div>
