<app-sidebar-toggle (click)="sideNav.toggle()" class="matSideToggle"></app-sidebar-toggle>
<mat-sidenav-container>
    <mat-sidenav #sideNav mode="side" position="end" [class.mat-elevation-z4]>
        <div class="example-container">
            <div class="message-container">
              <label for="recipient">Destinataire :</label>
              <select id="recipient">
                  <option value="everyone">Tout le monde</option>
                  <!-- Ajoutez d'autres options ici -->
              </select>
              <textarea placeholder="Tapez votre message ici..."></textarea>
              <div class="notification-toggle">
                  <input type="checkbox" id="notify-pros" />
                  <label for="notify-pros">Avec notification aux pros</label>
              </div>
              <button type="submit" class="send-message">Envoyer</button>
          </div>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <p>accueil works!</p>
        <h1>Placer ici les infos de base et le chat</h1>
        <button (click)="deconnexion()">Déconnexion</button>
        <div [innerHTML]="showPatients() | safeHtml"></div>

        
    </mat-sidenav-content>
</mat-sidenav-container>