<div class="vl"></div>

<h1>Steto </h1>
    <label class="patientChoose" for="userSelect">Choisir un patient : </label>
    <select class="selectUser" id="userSelect" name="userSelect" [(ngModel)]="selectedPatient" (change)="onPatientChange()">
      <option *ngFor="let patient of patients" [ngValue]="patient">{{ patient.firstName }} {{ patient.lastName }}</option>
    </select>
<br>
<mat-select class="mySelect" id="userSelect" name="userSelect" [(ngModel)]="selectedPatient" (change)="onPatientChange()">
    <mat-option></mat-option>

    <mat-label>Nom patient</mat-label>
    @for (option of patients; track option) {
      <mat-option [value]="option">{{ option.firstName }}</mat-option>
    }
  </mat-select>

<div [innerHTML]="showPatients() | safeHtml"></div>

<div name="infosPatient">
    <div *ngFor="let patient of patients" [ngClass]="{ 'selected': patient.id === this.idPatient}">
        <div *ngIf="this.idPatient === patient.id">
            <div class="nom-prenom" name="nomPrenom">{{ patient.firstName }} {{ patient.lastName }}</div>
            <div name="email">Email du patient : {{ patient.email }}</div>
            <div name="diabetesType">Type de diabete : {{ patient.diabetesType }}</div>
            <div name="insulinScheme">Schéma d'insuline : {{ patient.insulinScheme }}</div>
            <br>
            <div name="chatById">Afficher à droite le chat avec la careTeam du patient selectionné dans la liste </div>
            <br>
        </div>
    </div>
</div>

<button (click)="deconnexion()">Déconnexion</button>

