.vl {
    border-left: 6px solid beige;
    height: 1000px;
    position: absolute;
    left: 7%;
    margin-left: -3px;
    top: 0;
  }
  .patientChoose {
    position: absolute;
    left: 10%;
    top: 20%;
  }
.selectUser{
    position: absolute;
    left: 20%;
    top: 20%;
}
.nom-prenom {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}